/* Main Contant Start  */
.main-content {
  flex: 1;
  padding: 24px;
  background-color: #f5f6fa;
  min-width: 0;
}

.transfer-container {
    background: white;
    height: 100%;
    padding: 20px 30px;
    border-radius: 10px;
}

/* Transfer Card  */
.transfer-card {
    background: white;
    width: 270px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0B6FC026;
    border: none;
}

.transfer-card-text {
    color: #9197B3;
    text-align: left;
}

.transfer-card-text h6{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 3px;
}

.transfer-search input {
    width: 280px;
    height: 40px;
    border: 2px solid black;
    padding-left:  40px;
    border-radius: 7px;
    outline: none !important;
}

.transfer-search .search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50% , -50%);
}

.results-drop-down {
    background: #E0E0E0;
    padding: 5px 10px;
}